<template>
    <div>
        <section class="bg-white py-8">
            <div class="w-5/6 max-w-lg ml-auto mr-auto mt-8 mb-8">
                <div class="flex flex-col md:flex-row items-center justify-center">
                    <p class="text-xl leading-normal mr-6 mb-3 md:mb-0 text-center md:text-left"> PHP part</p>
                </div>
            </div>
        </section>
        <div class="flex justify-center">
            <div class="bg-grey-light h-1 w-16 rounded"></div>
        </div>
    </div>
</template>

<script>

    export default {
        async asyncData({ store }) {
        },
    }
</script>