<template>

    <div class="font-sans text-black h-full">
        <section class="bg-blue-lightest h-full py-8">
            <div class="w-5/6 max-w-lg ml-auto mr-auto h-full">
                <div class="flex items-center justify-center text-center h-full">
                    <div>
                        <h1 class="text-4xl sm:text-5xl font-semibold leading-none tracking-tight mb-4">
                            Тестовое задание на VUE.js
                        </h1>

                        <div class="flex flex-col sm:flex-row justify-center pt-8">
                            <button class="bg-blue hover:bg-blue-dark text-2xl leading-none text-white font-semibold h-12 px-8 rounded-full whitespace-no-wrap mb-2 sm:mb-0 sm:mr-2">
                                PHP part
                            </button>
                            <button class="bg-transparent text-2xl leading-none text-blue font-semibold hover:text-blue-dark h-12 px-8 border border-blue-lighter hover:border-blue-light rounded-full whitespace-no-wrap mt-2 sm:mt-0 sm:ml-2">
                                JS part
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-white py-8">
            <div class="w-5/6 max-w-lg ml-auto mr-auto mt-8 mb-8">
                <div class="flex flex-col md:flex-row items-center justify-center">
                    <p class="text-xl leading-normal mr-6 mb-8 md:mb-0 text-center md:text-left">This could be a call to
                        action.</p>
                    <button class="bg-blue hover:bg-blue-dark text-xl leading-none text-white font-semibold h-10 px-6 rounded-full whitespace-no-wrap">
                        Get started
                    </button>
                </div>
            </div>
        </section>

        <div class="flex justify-center">
            <div class="bg-grey-light h-1 w-16 rounded"></div>
        </div>

        <section class="bg-white py-8">
            <div class="w-5/6 max-w-lg ml-auto mr-auto mt-8 mb-8">
                <div class="flex flex-wrap -mx-6 -my-6">
                    <div class="w-full sm:w-1/2 px-6 py-6">
                        <div class="mb-8">
                            <svg class="align-middle text-red" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="21 8 21 21 3 21 3 8"/>
                                <rect x="1" y="3" width="22" height="5"/>
                                <line x1="10" y1="12" x2="14" y2="12"/>
                            </svg>
                        </div>
                        <h3 class="text-3xl sm:text-4xl font-semibold tracking-tight leading-none mb-3">This is a small
                            heading</h3>
                        <p class="text-lg sm:text-xl leading-normal text-grey-darker mb-8">If you don't plan to use the
                            shadow utilities in your project, you can disable them entirely.</p>
                        <a class="text-lg leading-normal text-blue hover:text-blue-dark no-underline" href="#">Link to
                            something</a>
                    </div>
                    <div class="w-full sm:w-1/2 px-6 py-6">
                        <div class="mb-8">
                            <svg class="align-middle text-teal" xmlns="http://www.w3.org/2000/svg" width="48"
                                 height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"/>
                                <line x1="14.31" y1="8" x2="20.05" y2="17.94"/>
                                <line x1="9.69" y1="8" x2="21.17" y2="8"/>
                                <line x1="7.38" y1="12" x2="13.12" y2="2.06"/>
                                <line x1="9.69" y1="16" x2="3.95" y2="6.06"/>
                                <line x1="14.31" y1="16" x2="2.83" y2="16"/>
                                <line x1="16.62" y1="12" x2="10.88" y2="21.94"/>
                            </svg>
                        </div>
                        <h3 class="text-3xl sm:text-4xl font-semibold tracking-tight leading-none mb-3">This is a small
                            heading</h3>
                        <p class="text-lg sm:text-xl leading-normal text-grey-darker mb-8">If you don't plan to use the
                            shadow utilities in your project, you can disable them entirely.</p>
                        <a class="text-lg leading-normal text-blue hover:text-blue-dark no-underline" href="#">Link to
                            something</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-grey-lightest py-8">
            <div class="w-5/6 max-w-lg ml-auto mr-auto mt-8 mb-8">
                <div class="flex flex-wrap -mx-6 -my-6">
                    <div class="w-full sm:w-1/2 px-6 py-6">
                        <div class="mb-8">
                            <svg class="align-middle text-red" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="21 8 21 21 3 21 3 8"/>
                                <rect x="1" y="3" width="22" height="5"/>
                                <line x1="10" y1="12" x2="14" y2="12"/>
                            </svg>
                        </div>
                        <h3 class="text-3xl sm:text-4xl font-semibold tracking-tight leading-none mb-3">This is a small
                            heading</h3>
                        <p class="text-lg sm:text-xl leading-normal text-grey-darker mb-8">If you don't plan to use the
                            shadow utilities in your project, you can disable them entirely.</p>
                        <a class="text-lg leading-normal text-blue hover:text-blue-dark no-underline" href="#">Link to
                            something</a>
                    </div>
                    <div class="w-full sm:w-1/2 px-6 py-6">
                        <div class="mb-8">
                            <svg class="align-middle text-teal" xmlns="http://www.w3.org/2000/svg" width="48"
                                 height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"/>
                                <line x1="14.31" y1="8" x2="20.05" y2="17.94"/>
                                <line x1="9.69" y1="8" x2="21.17" y2="8"/>
                                <line x1="7.38" y1="12" x2="13.12" y2="2.06"/>
                                <line x1="9.69" y1="16" x2="3.95" y2="6.06"/>
                                <line x1="14.31" y1="16" x2="2.83" y2="16"/>
                                <line x1="16.62" y1="12" x2="10.88" y2="21.94"/>
                            </svg>
                        </div>
                        <h3 class="text-3xl sm:text-4xl font-semibold tracking-tight leading-none mb-3">This is a small
                            heading</h3>
                        <p class="text-lg sm:text-xl leading-normal text-grey-darker mb-8">If you don't plan to use the
                            shadow utilities in your project, you can disable them entirely.</p>
                        <a class="text-lg leading-normal text-blue hover:text-blue-dark no-underline" href="#">Link to
                            something</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

</template>